<%= form_for(@photo, :html => { :class => 'navbar-form navbar-left' } ) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
     
  <div class="input-group">
    <%= f.label :category %>
    <%= f.number_field :category_id, :class => 'form-control', :placeholder => 'Search' %>
  </div>

  <div class="input-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => 'form-control', :placeholder => 'title' %>
  </div>

    <% if @photo.image %>
  <div class="input-group">
    <%= image_tag @photo.image, :width => 200 %>
  </div>
    <% end %>

    <% if @photo.image %>
  <div class="field">
    <%= @photo.image %>
  </div>
    <% end %>

  <div class="input-group">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  <div class="input-group">
    <%= f.label :read %><br>
    <%= f.number_field :read, :class => 'form-control' %>
  </div>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
