<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
    <% if @photo.image %>
  <div class="field">
    <%= image_tag @photo.image, :width => 200 %>
  </div>
    <% end %>

    <% if @photo.image %>
  <div class="field">
    <%= @photo.image %>
  </div>
    <% end %>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :read %><br>
    <%= f.number_field :read %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
